
#menu1{
  height:0px;
  overflow: hidden;
  transition: all .2s;
  display: flex
}
ul{
  padding: 0
}
li{
  margin: 0px;
  display: flex;
  align-items: center
}
.verticalBranch{
  width:10px;
  height: 1px;
  margin: 0;
  border-top:3px dotted black;
}
.menuElement {
  margin-left:10px;
}
#c1:checked ~ #menu1 {
  height:72px;
}

.treeLine{
  width:2px;
  height: calc(100% - 10px);
  border-left:3px dotted black;
}