nav {
  position: relative;
}
#menu1{
  height:0px;
  border-left:1px solid black;
  overflow: hidden;
  transition: all .5s;
  margin: 0 0 0 10px;
  padding: 0;
}
li::before{
  content: '----';
  left: 0;
  overflow: hidden;
}
#c1:checked ~ #menu1 {
  height:60px;
}

