body {
    background-color: grey;
    height: calc(100vh - 16px);
}
.gridField{
    height: 100%;
    border:1px solid #000000;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px
}
.gridItem2{
    text-align: center;
}
.items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}